<div class="container-fluid my-5">
  <div class="row p-3 mx-5" >
    <div class="col-md-12">
      <button class="btn" type="button" routerLink="/Banner">Banner</button>
      <button class="btn" type="button" routerLink="/DynmicDiv">Dynamic  </button>
     <button class="btn" type="button" routerLink="/eCommerce">Commerce</button>
     <button class="btn" type="button" routerLink="/table">table</button>
     <button class="btn" type="button" routerLink="/timer">timer</button>
     <button class="btn" type="button" routerLink="/timerApp">Timerapp</button> 
    </div>    
  </div>
  <div class="row ">
    <router-outlet></router-outlet>
  </div>
</div>


