<div class="container-fluid my-5">
  <div class="row p-3 mx-5" >
    <div class="col-md-12">
      <button class="btn" type="button" routerLink="/Banner">Banner Module</button>
      <button class="btn" type="button" routerLink="/DynmicDiv">Dynamic Module </button>
     <button class="btn" type="button" routerLink="/eCommerce">eCommerce Module</button>
     <button class="btn" type="button" routerLink="/table">Table Module</button>
     <button class="btn" type="button" routerLink="/timer">Timer Module</button>
     <button class="btn" type="button" routerLink="/timerApp">Timer Application Module</button> 
    </div>    
  </div>
  <div class="row ">
    <router-outlet></router-outlet>
  </div>
</div>


