<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-display [count]="timmerCount"></app-display>
        </div>
        <div class="col-md-6 border">
            <div class="col-md-12 pt-2 my-1 align-center">
                <label class="px-2 ">Enter Timer Limit</label>
                <input name="timer" type="number" min="0" [(ngModel)]="timmerCount" (keydown)="onClick($event)" />
            </div>
            <div  class="col-md-12 my-1 align-center">
                <button class="btn btn-outline-secondary mx-1" (click)="onStart()">Start</button>
                <button class="btn btn-outline-secondary mx-1" (click)="onPause()">Pause</button>
                <button class="btn btn-outline-secondary mx-1" (click)="onReset()">Reset</button>
            </div>
            <div #pauseLog>
            </div>
        </div>
    </div>
</div>
