<div class="contianer">
  <div class="row">
    <div *ngFor="let item of ProductArray" class="col-md-6 p-1">
      <div class="card">
        <img [src]="item.image" class="mx-auto card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{item.category}}</h6>
          Price:<label href="#" class="card-link">{{item.price}}</label>
          <br>
          Rating:<label class="card-link">{{item.rating.rate}}</label>
        </div>
      </div>
    </div>

  </div>

</div>